@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Carter+One&family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Averia Serif Libre', cursive;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: auto;
    width: 100%;
}

.container {
    height: auto;
    width: 100%;
}

.section-wrap {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    max-width: 1420px;
    height: auto;
}