/* about start */
.about {
    height: auto;
    width: 100%;
}

.about-wrap {
    margin-top: 4rem;
    margin-bottom: 6rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.about-image {
    position: relative;
    width: 45%;
    height: 450px;
}

.about-image::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
}

.about-desc {
    padding-top: 0.4rem;
    width: 50%;
    color: #343236;
}

.about-desc h3 {
    font-size: 1.6rem;
}

.about-desc h1 {
    color: #206822;
    margin-top: 1.2rem;
    font-size: 2.6rem;
}

.about-desc > p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.about-desc button {
    margin-top: 1.6rem;
    color: #fff;
    font-size: 1.2rem;
    height: 2.6rem;
    width: 8rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: #206822;
    border-radius: 0.1rem;
}

.about-desc-list {
    margin-top: 1.4rem;
}

.about-list {
    margin-bottom: 0.6rem;
    padding: 0.2rem 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.about-list span {
    color: #206822;
    font-size: 1.4rem;
}

.about-list p {
    margin-left: 0.6rem;
    padding: 0 0.2rem 0;
    position: relative;
    font-size: 1.3rem;
    cursor: pointer;
}

.about-list:hover p {
    color: #fff;
}

.about-list p::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: olivedrab;
    border-radius: 0.1rem;
    transform: scaleX(0);
    visibility: hidden;
    transition: all 0.3s ease;
    transform-origin: left;
    z-index: -1;
}

.about-list:hover p::before {
    transform: scaleX(1);
    visibility: visible;
}

.about-desc button.learn-more {
    margin-top: 1rem;
}
/* about end */



/* customer review start */
.customer-review {
    padding: 3rem 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../../images/background/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.review-title p {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.review-title p span {
    margin-left: 0.4rem;
    font-size: 1.2rem;
}

.review-cards {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 560px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.review-card {
    margin: 1rem 1rem 3rem 0;
    padding: 1.4rem 1.4rem 3rem 1.4rem;
    position: absolute;
    height: auto;
    width: 100%;
    max-width: 630px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 0.2rem;
    transition: all 0.4s ease;
}

.customer-info {
    display: flex;
    align-items: center;
}

.customer-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.customer-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 4px solid #fff;
    border-radius: 50%;
}

.customer-details {
    margin-left: 1rem;
}

.customer-details .name {
    color: #343236;
    font-size: 1.6rem;
}

.customer-details .country {
    color: #343236;
    font-size: 1.1rem;
    padding-top: 0.2rem;
    font-weight: bold;
}

.review-text {
    margin-top: 1rem;
    color: #343236;
    font-size: 1.1rem;
}

.review-text span {
    font-size: 1.4rem;
}

.review-text span:first-child {
    margin-left: 1rem;
    margin-right: 0.4rem;
}

.review-text span:last-child {
    margin-left: 0.4rem;
}
/* customer review end */

@media screen and (max-width: 720px) {
    .about-wrap {
        margin-top: 3rem;
        margin-bottom: 4rem;
        flex-direction: column;
    }

    .about-wrap:last-child {
        flex-direction: column-reverse;
    }

    .about-image {
        width: 100%;
    }

    .about-desc {
        margin-top: 1.4rem;
        width: 100%;
    }

    .review-cards {
        min-height: 500px;
    }
}

@media screen and (max-width: 570px) {
    .about-image {
        height: 340px;
    }

    .about-desc h3 {
        font-size: 1.3rem;
    }
    
    .about-desc h1 {
        font-size: 1.8rem;
    }
    
    .about-desc > p {
        font-size: 1.1rem;
    }
    
    .about-desc button {
        margin-top: 1.4rem;
        font-size: 1.1rem;
        width: 8rem;
    }
    
    .about-list span {
        font-size: 1.2rem;
    }
    
    .about-list p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 380px) {
    .about-wrap {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .about-image {
        height: 280px;
    }

    .about-desc h3 {
        font-size: 1.2rem;
    }
    
    .about-desc h1 {
        font-size: 1.5rem;
    }
}