/* HERO AREA START */
.hero {
    height: 440px;
    width: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/background/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

marquee {
    color: #fff;
    width: 100%;
    height: 1.4rem;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.hero-wrap {
    position: relative;
    width: 100%;
    min-height: calc(100% - 1.4rem);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-image {
    height: 360px;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation-delay: 0.3s;
}

.hero-desc {
    width: 60%;
    height: auto;
}

.hero-desc h1 {
    margin-bottom: 0.6rem;
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 1rem #211e25;
}

.hero-desc button {
    margin: 1rem 0 0 0.4rem;
    color: #fff;
    font-size: 1.6rem;
    height: 3.6rem;
    width: 10rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1rem;
    background: #206822;
    box-shadow: 0.2rem 0.2rem 1rem #211e25;
    animation-delay: 0.5s;
}

.hero-slide-btns {
    position: absolute;
    right: 0;
    bottom: 2rem;
    height: auto;
    width: 7.4rem;
    display: flex;
    justify-content: space-between;
}

.hero-slide-btns div {
    height: 3rem;
    width: 3rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 2px solid #ddd;
    cursor: pointer;
}

.hero-slide-btns div span {
    color: #ddd;
    font-size: 1.8rem;
}
/* HERO AREA END */



/* CALL TO ACTION START */
.call-to-action {
    padding: 3rem 0;
    width: 100%;
    height: auto;
}

.call-to-action-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-desc {
    width: 30%;
    height: 100%;
}

.cta-desc h1 {
    color: #211e25;
    font-size: 2.6rem;
    line-height: 3rem;
    padding-right: 1rem;
    margin-bottom: 0.8rem;
}

.cta-desc p {
    color: #211e25;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.cta-desc button {
    margin-top: 0.4rem;
    color: #fff;
    font-size: 1.2rem;
    height: 2.6rem;
    width: 8rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1rem;
    background: #206822;
}

.cta-cards {
    height: 250px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.cta-card {
    margin-left: 20px;
    position: relative;
    min-width: 305px;
    height: 100%;
    overflow: hidden;
    border-radius: 0.1rem;
    transition: all 0.4s ease-in-out;
}

.cta-card::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.cta-card-image {
    width: 100%;
    height: 100%;
}

.cta-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta-card-text {
    padding: 1rem 0 1rem 1.4rem;
    position: absolute;
    bottom: 1.6rem;
    left: 0rem;
    width: 14.4rem;
    border-left: 7px solid #459122;
    background: rgba(0, 0, 0, 0.7);
}

.cta-card-text h3 {
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 0.1rem 0.1rem 1rem #211e25;
}

.cta-card-text p {
    padding-top: 0.3rem;
    color: #ddd;
    font-size: 1.3rem;
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem 1rem #211e25;
}
/* CALL TO ACTION END */



/* GREAT DISCOUNT START */
.great-discount {
    height: auto;
    width: 100%;
    background: url('../../images/background/great-discount-bg.jpg');
    background-size: cover;
    background-position: center;
}

.great-discount-wrap {
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.gd-image-box {
    height: 420px;
    flex-basis: 500px;
    border: 1px solid #ccc;
}

.gd-image {
    position: relative;
    height: 100%;
    width: 100%;
    border: 3px solid #fff;
    border-radius: 0.2rem;
    box-shadow: 0.4rem 0.4rem 1rem #444;
}

.gd-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gd-details {
    padding-left: 4rem;
    width: 50%;
}

.save-per {
    color: crimson;
    font-size: 2.4rem;
    font-weight: 600;
}

.gd-product-name,
.gd-product-price {
    color: #206822;
    font-size: 4rem;
    padding-top: 0.6rem;
    text-align: left;
}

.gd-product-price {
    text-decoration: underline;
}

.gd-discount-message {
    position: relative;
    color: #333;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 1.4rem;
    display: inline-block;
}

.gd-discount-message::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 1rem;
    width: 100%;
    background: rgb(255, 0, 0, 0.4);
}

.gd-btn {
    margin: 2rem 0 0 0.4rem;
    color: #fff;
    font-size: 1.6rem;
    height: 3.6rem;
    width: 10rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1rem;
    animation-delay: 0.5s;
    background: #206822;
    display: block;
}
/* GREAT DISCOUNT END */