.services-contents {
    padding: 3rem 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.service-vertical-card {
    position: relative;
    width: 25%;
    height: 36.6rem;
}

.vertical-card-image {
    height: 100%;
    width: 100%;
}

.vertical-card-image::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.2rem;
}

.vertical-card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.1rem;
}

.vertical-card-text {
    padding: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 460px;
    height: auto;
    background: #fff;
}

.vertical-card-text h1 {
    color: #206822;
    font-size: 2.8rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px dashed silver;
}

.vertical-card-text p {
    padding-top: 0.8rem;
    color: #222;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.service-cards {
    width: 75%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4rem;
}

.service-card {
    height: auto;
    min-height: 11rem;
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0.2rem 0.2rem 0.8rem #ddd;
}

.service-card-no {
    width: 30%;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: 0.2rem 0 0 0.2rem;
}

.service-card-no h1 {
    color: #fff;
    font-size: 3rem;
}

.service-card-details {
    padding: 1.1rem;
    height: 100%;
    width: 70%;
    border-radius: 0 0.2rem 0.2rem 0;
    box-sizing: border-box;
}

.service-card-details h3 {
    font-size: 1.4rem;
}

.service-card-details p {
    margin-top: 0.4rem;
    font-size: 1rem;
}

.service-card-details div {
    margin-top: 0.4rem;
}

.service-card-details div a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.service-card:nth-child(1) .service-card-no {
    background: #316131;
}

.service-card:nth-child(2) .service-card-no {
    background: olivedrab;
}

.service-card:nth-child(3) .service-card-no {
    background: #2f4f4f;
}

.service-card:nth-child(4) .service-card-no {
    background: teal;
}

.service-card:nth-child(5) .service-card-no {
    background: brown;
}

.service-card:nth-child(6) .service-card-no {
    background: crimson;
}

.service-card:nth-child(1) .service-card-details h3,
.service-card:nth-child(1) .service-card-details div a {
    color: #316131;
}

.service-card:nth-child(2) .service-card-details h3,
.service-card:nth-child(2) .service-card-details div a {
    color: olivedrab;
}

.service-card:nth-child(3) .service-card-details h3,
.service-card:nth-child(3) .service-card-details div a {
    color: #2f4f4f;
}

.service-card:nth-child(4) .service-card-details h3,
.service-card:nth-child(4) .service-card-details div a {
    color: teal;
}

.service-card:nth-child(5) .service-card-details h3,
.service-card:nth-child(5) .service-card-details div a {
    color: brown;
}

.service-card:nth-child(6) .service-card-details h3,
.service-card:nth-child(6) .service-card-details div a {
    color: crimson;
}



/* FAQ SECTION START */
.faq {
    padding: 4rem 0;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../../images/background/contact-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.faq-contents {
    padding-top: 1.8rem;
    width: 100%;
    display: grid;
    place-items: center;
    max-width: 900px;
}

.faq-title {
    height: auto;
    width: 100%;
}

.faq-title h1 {
    padding: 1rem 4rem 1rem 1.2rem;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    background: #459122;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.faq-accordion {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    box-sizing: border-box;
}

.faq-header {
    position: relative;
    padding: 1.2rem 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: transparent;
    text-shadow: 0.2rem 0.2rem 0.6rem #111;
}

.faq-header > span:first-child {
    font-size: 1.6rem;
    width: 96%;
}

.faq-icon {
    position: absolute;
    right: 0;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.faq-icon.active-faq-icon {
    transform: rotate(450deg);
}

.faq-text {
    padding: 0 1.4rem;
    margin-bottom: 0.6rem;
    height: 0;
    opacity: 0;
    background: #fff;
    border-left: 2px solid transparent;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
}

.faq-text.active-faq-text {
    padding: 1rem 1.4rem;
    height: auto;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    border-left: 7px solid #459122;
}
/* FAQ SECTION END */


@media screen and (max-width: 1440px) {
    .service-vertical-card {
        display: none;
    }

    .service-cards {
        width: 100%;
    }
}

@media screen and (max-width: 680px) {
    .faq {
        padding: 1.2rem 0;
    }

    .faq-title h1 {
        font-size: 1.4rem;
    }
    
    .faq-accordion {
        margin-top: 1rem;
    }
    
    .faq-header > span:first-child {
        font-size: 1.3rem;
    }
    
    .faq-icon {
        font-size: 1.1rem;
    }
}