header {
    height: auto;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    z-index: 9999;
}

header.active-header {
    position: fixed;
    top: 0;
    left: 0;
    animation: header-anim 0.4s ease;
}

@keyframes header-anim {
    0% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(0);
    }
}

.navbar {
    margin: 0 auto;
    padding: 0 10px;
    height: 4.5rem;
    width: 100%;
    max-width: 1420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;
    z-index: 99999;
}

.logo a {
    color: #206822;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Satisfy', cursive;
}

.nav-items {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-items li {
    margin: 0 1rem 0;
}

.nav-items li a {
    color: #211e25;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-items li a:hover,
.nav-items li a.active {
    color: #206822;
}

.search-box {
    width: 20rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    border-radius: 0.2rem;
    overflow: hidden;
    transition: all 0.4s ease;
}

.search-box input {
    padding-left: 0.8rem;
    height: 100%;
    width: 82%;
    color: #222;
    font-size: 1rem;
    border: none;
    outline: none;
    background: #eee;
    box-sizing: border-box;
    border-radius: 0 0.1rem 0.1rem 0;
}

input::placeholder {
    font-size: 1rem;
}

.search-icon {
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #206822;
}

.search-icon span {
    color: #fff;
    font-size: 1.1rem;
}

.icon-links {
    display: flex;
    align-items: center;
}

.icon-links a {
    position: relative;
    margin-left: 1.6rem;
    text-decoration: none;
}

.icon-links a > span {
    color: #211e25;
    font-size: 1.2rem;
    cursor: pointer;
}

#item-counter {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0.9rem, -0.8rem);
    height: 1.3rem;
    width: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.8rem;
    background: red;
    border-radius: 50%;
}