/* GREAT DISCOUNT START */
.great-discount {
    height: auto;
    width: 100%;
    background: url('../../images/background/great-discount-bg.jpg');
    background-size: cover;
    background-position: center;
}

.great-discount-wrap {
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.gd-image-box {
    height: 420px;
    flex-basis: 500px;
    border: 1px solid #ccc;
}

.gd-image {
    position: relative;
    height: 100%;
    width: 100%;
    border: 3px solid #fff;
    border-radius: 0.2rem;
    box-shadow: 0.4rem 0.4rem 1rem #444;
}

.gd-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gd-details {
    padding-left: 4rem;
    width: 50%;
}

.save-per {
    color: crimson;
    font-size: 2.4rem;
    font-weight: 600;
}

.gd-product-name,
.gd-product-price {
    color: #206822;
    font-size: 4rem;
    padding-top: 0.6rem;
    text-align: left;
}

.gd-product-price {
    text-decoration: underline;
}

.gd-discount-message {
    position: relative;
    color: #333;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 1.4rem;
    display: inline-block;
}

.gd-discount-message::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 1rem;
    width: 100%;
    background: rgb(255, 0, 0, 0.4);
}

.gd-btn {
    margin: 2rem 0 0 0.4rem;
    color: #fff;
    font-size: 1.6rem;
    height: 3.6rem;
    width: 10rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.1rem;
    animation-delay: 0.5s;
    background: #206822;
    display: block;
}
/* GREAT DISCOUNT END */